@media (max-width: 250px) {
.nav-item {
    margin-right: 10px !important;
}    
}

.navbar-nav {
    flex-direction: row;
}
.nav-link {
    color: white !important;
}
.nav-link:hover {
    color: yellow !important;
}
