@media (min-width: 0px) {
#contact_me {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}    
}
    
.contacts_heading {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.padding {
    padding-top: 60px;
}
.m_bottom {
    margin-bottom: 40px;
}
.form_fields {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
}
.form_fields:focus {
    outline: none;
}
.message {
    height: 150px;
}
.cards_contact:hover {
    background-color: green;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.margin {
    margin-right: 5px;
}
.social_media_icons {
    text-decoration: none !important;
    color: white;
    margin-right: 15px;
}
.social_media_icons:hover {
    color: yellow !important;
}
textarea {
    resize: none;
}
.submit_btn {
    margin-top: 20px;
}