@media (min-width: 576px) {
#contact_me {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}    
}
    
.headings {
    font-size: 150%;
}
.padding {
    padding-top: 60px;
}
.cards {
    border: solid;
    margin-bottom: 10px;
    padding: 10px;
}
.cards:hover {
    background-color: green;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.margin {
    margin-right: 5px;
}
.fa-linkedin {
    font-size: 16px;
}
.fa-github {
    font-size: 16px;
}
.contact {
    text-decoration: none !important;
    color: white;
}
.contact:hover {
    color: yellow !important;
}
