@media (min-width: 992px) {
#contact_me {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}    
}     
@media (max-width: 250px) {
.contacts_heading {
    font-size: 30px !important;
    font-weight: bold;
}     
}
@media (max-width: 575px) {
.p_top {
    padding-top: 85px !important;
}
.p_bottom {
    padding-bottom: 40px !important;
}     
}

.p_top {
    padding-top: 75px;
}
.p_bottom {
    padding-bottom: 30px;
}
.social_media_icons {
    text-decoration: none !important;
    color: white;
    margin-right: 15px;
}
.social_media_icons:hover {
    color: yellow !important;
}
.contacts_heading {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.form_fields {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
}
.form_fields:focus {
    outline: none;
}
.input_fields {
    width: 100%;
    height: auto;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
textarea {
    resize: none;
}
.message {
    width: 100%;
    height: 210px;
}
.submit_btn {
    margin-top: 20px;
}
