@media (min-width: 576px) {
#about_me {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}    
}

.headings {
    font-size: 150%;
}
.underline {
    text-decoration: underline;
}
.padding {
    padding-top: 60px;
}   
.about_me {
    text-align: justify;
}
.results {
    line-height: 0.7;
}
