@media (min-width: 576px) {
#about_me {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}    
}

.about_heading {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.underline {
    text-decoration: underline;
}
.padding {
    padding-top: 60px;
}   
.about_me {
    text-align: justify;
}
.skills {
    line-height: 0.7;
}
.cards_skills {
    border: solid;
    margin-bottom: 10px;
    padding: 10px;
}