@media (min-width: 680px) {
#blogs {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}    
}

.blogs_heading {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.underline {
    text-decoration: underline;
}
.padding {
    padding-top: 60px;
}
.cards {
    border: solid;
    margin-bottom: 10px;
    padding: 10px;
}
.cards:hover {
    background-color: green;
}
