@media (min-width: 890px) {
#blogs {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}    
}
@media (max-width: 889px) {
.p_top {
    padding-top: 75px !important;
}     
}
@media (max-width: 250px) {
.blogs_heading {
    font-size: 30px !important;
    font-weight: bold;
}     
}

.blogs_heading {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.cards_blogs {
    border: solid;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}
.blog_title {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
